.chart {
    background-color: white;
}

text.label {
    color : red;
}

#First_War_Test > div.view > svg > g > g:nth-child(5) > text


body {
    font-family: verdana, sans-serif;
}

.title {
    text-anchor : middle;
    color : red;
}

.chart rect {
    stroke: white;
    fill: steelblue;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: black;
}

.y.axis line {
    stroke: black;
}

.axis text {
    font-size: 12px;
}

