/*
.chart {
    background-color: white;
}

text.label {
    color : red;
}
≈

*/

#header {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color:  rgba(0,0,0,0.1);
}
.dots line {
    stroke : #700800;
    opacity: 0.3;
}

.x.axis line {
    stroke: red;
}

.y.axis line {
    stroke: red;
}

#ranking .y.axis text { font-family: sans-serif; font-size: 10px; fill:rgba(80, 80, 80,0.6) }
#ranking .x.axis text { font-family: sans-serif; font-size: 5px;  }
#ranking .dots rect {
    fill : #700800;
    opacity: 0.3;
}
/*
.ui-menu .ui-menu-item a{
    background:white;
    height:10px;
    font-size:8px;
}
*/

ul.ui-autocomplete {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

rect#rectangle {
    stroke: rgba(80, 80, 80,0.6);
    fill: #FFD647;
    fill-opacity: 0.1;
    stroke-width: 1px;
    x: 0.5px;
    y: 0.5px;
}

/*
.names {
    /*
    opacity: 0.30;
    font-family: verdana;

}
*/
/*
.names text {
    /
    color : gray;

}
*/

/*
body {
    font-family: verdana, sans-serif;
}

.title {
    text-anchor : middle;
    color : red;
}

.chart rect {
    stroke: white;
    fill: steelblue;
}





.axis text {
    font-size: 12px;
}
*/
