/*
.chart {
    background-color: white;
}

text.label {
    color : red;
}

.dots line {
    stroke : gray;
    opacity: 0.3;
}
/*
.names {
    /*
    opacity: 0.30;
    font-family: verdana;

}
*/
/*
.names text {
    /
    color : gray;

}
*/

/*
body {
    font-family: verdana, sans-serif;
}

.title {
    text-anchor : middle;
    color : red;
}

.chart rect {
    stroke: white;
    fill: steelblue;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: black;
}

.y.axis line {
    stroke: black;
}

.axis text {
    font-size: 12px;
}
*/
